.more{
    position: relative;
    top:3.5rem;
    
}
.pinpai1{
    background-image: url(../../../src/assets/pic/jjsx.d717264.png);
    background-repeat:no-repeat;
    background-size:2.5rem 1.5rem;
    position: relative;
    top:4rem;
    left:0.5rem;
    width: 2.5rem;
    height: 1.5rem;
    float: left;
    list-style: none;
}
.pinpai2{
    background-image: url(../../../src/assets/pic/pinpai.f14a967.png);
    background-repeat:no-repeat;
    background-size:2.5rem 1.5rem;
    position: relative;
    top:4rem;
    left:4rem;
    width: 2.5rem;
    height: 1.5rem;
    list-style: none;
}

