@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1561971520144'); /* IE9 */
  src: url('iconfont.eot?t=1561971520144#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABpgAAAKRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBIIEqATYCJAMICwYABCAFhG0HMhvSBcgekiSBcgwUoJQIAIQRD09r/zt3Z57NfvHkDkTRLJo+FQ/Nq1gmJEojW7YqXsJOzmV+jDabwyc3AigkLaeXphsrYPubejXHwrIkUGO7l0vAPiOfuHf6RwEFMt95l8sYw/agPraoCzAOpADH3GRFEnnD2AUuYTOBYloh1+mGtj4QI7N6BeKOInEgJheUZZbpCu2aiVm80tKtHlcf8TL8fvx3IGKotBJr4Llr9SKo+gV+SY8a9n1CiACnt5CwCcjEpdrkGeGCccKVZIR5YF/M4Jem8Z1irzbB/jortw9MQvk9KVzlrYpWINOYPcDJUQeTJmMT7u4elBKfPg08P/eBuCdvxsYCmYFAPbyXbQ+d339rvH7JAQn7k/Hq6McD66vFPZtJ55NeD8TlOTLsghLf6rqcfcpcRdFv4rnX0d2/LSUuLadHdrecnXU3xgzMhn7dwTmrwYL4p+byguA4gOZRepcIBCe/hXYmkw//x9QZfD32VxX6m0dZPzfdEznDD1P0rMi6ynJUWVXUZit7wm8kryhoYO+Ij7Hm8bvLhq7xe3R3TKVIuhbJzN5ES+0Q2rqOodjQOL02igoXuYd1qwBhyCkqA94iGXJDZvY7WiaE0DYU4SiuxOiCteVQ4k5RxDEkQn4OKgIxseNicRGzB0mOztGsKuQOIGorEehze4uZRmQiOscQe1ryM4YhpsSADWA7pOsEWpSoSGBumTGrxOPBdW9yC8QAcU6hEA6DiCDeHEghIEzYr83ElT7fA5E4dBzaUlYTH4BQNqV5yMfN24Ns1Ju9yu7lGts0iR/DYBBGEQaoAbRDdDoCsurbqRAB4yaPiFtKeOxquK/evb7R+Lp1UFiWKuzWSfc6cWYckVMAAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1561971520144') format('woff'),
  url('iconfont.ttf?t=1561971520144') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1561971520144#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwudai:before {
  content: "\e600";
}

