.ul2{
    list-style: none;
    position: absolute;
    top:11rem;
    left:0rem;
    background:rgb(235, 232, 232);
    width: 3.3rem;
    height: 3rem;
   margin-left:.2rem;

}
.zhuti{
    position: relative;
    left:0rem;

    
}
.zhuti1{
    position: relative;
    top:0.25rem;
    left:0rem;
    z-index: 500;
   .img1{
    width: 1.2rem;
    height: 1.5rem;
   }
}
.jingxuan{
    position: relative;
    top:0.25rem;
    left:0rem;
    z-index: 500;
}
.jingxuan1{
    position: relative;
    top:-1.6rem;
    left:1.75rem;
    z-index: 500;
}
.zhuti2{
    position: relative;
    top:-1.6rem;
    left:2rem;


   .img2{
        width: 1.2rem;
        height: 1.5rem;
   }
}
.ul3{
    list-style: none;
        position: absolute;
        top:11rem;
        left:4rem;
        background:rgb(235, 232, 232);
        width: 3.4rem;
        height: 3rem;
      
    .qingcang1{
        position: relative;
        top:0.3rem;
        left:0rem;
      

    }
    .img3,.img4{
        width: 1.2rem;
        height: 1.5rem;
    }
    .zhijiang{
        position: relative;
        top:0.3rem;
        left:0rem;
    }
    .img4{
        position: relative;
        top:-1.55rem;
        left:2rem;
    }
    .zhijiang1{
        position: relative;
        top:-1.55rem;
        left:1.8rem;
   
    }
        
}
