.fixed{
  position: fixed;
  background: black;
  color:white;
  z-index: 700;
  width: 100%;
  top:0px;
  left:0px;
  height: 100px;
}
.unfixed{
  position: absolute;
  z-index:10;
  background:red;
  color:black;
  width: 100%;
}
.main{
  position: relative;
}
<<<<<<< HEAD
html{
  overflow-x: hidden;
}
=======

>>>>>>> dongfuqing
